---
layout: job_family_page
title: "Field Enablement Leadership"
---

## Director, Field Enablement

The Director of Field Enablement is a seasoned global Sales, Partner, and Customer Success Enablement leader with the ability to thrive in a growing software DevOps organization. Reporting to the VP of Field Operations, they are responsible for building and managing a virtual, world-class global sales training and enablement program.

### Job Grade 

The Director, Field Enablement is a [grade 10](/handbook/total-rewards/compensation/compensation-calculator/#gitlab-job-grades).

### Responsibilities

* Develop and lead the successful execution of the sales enablement plan and programs to ensure field team members and partners are equipped with content, resources, tools and training to effectively differentiate and sell the GitLab solution.
* Oversee the development of education and training content in collaboration with marketing and other SMEs to identify and develop core curriculum, customized regionally as needed, for field audiences across all routes to market.
* Lead and facilitate sales training activities, including new hire training and onboarding, ongoing sales meetings, and regional/sales team training (includes all levels of the sales team, customer success, and channel partners).
* Ensure alignment of field enablement activities with key internal and external events, such as new product releases, campaigns, and essential industry trade shows.
* Manage and drive online, self-paced on-boarding and result-driven continuous learning.
* Leverage Salesforce.com CRM infrastructure and other tools for delivering formal and informal/social learning.
* Develop sales competency assessment programs, as well as partner accreditation programs.
* Measure and report on the effectiveness of sales enablement investments and the programs conducted. Determine opportunities for improving the sales learning experience, and identify innovative techniques for delivery.

### Requirements

* 10+ years software sales experience with expertise in DevOps and/or Open Source, preferably in sales enablement or management.
* Working knowledge of sales training technology and methodologies; demonstrable experience with sales, partner, and customer success enablement concepts, practices, and procedures.
* Relevant experience preparing, developing, and executing global sales teams’ effectiveness strategies, tactics and action plans for a technology platform.
* Ability to quickly understand technical concepts and explain them to audiences of varying technical expertise (sales team, customer success team, and channel partners).
* Experience growing within a small start-up. Strong ability to interact and influence effectively with C-level executives and team members.
* Exceptional written/verbal communication and presentation skills.
* Team player with strong interpersonal skills, skilled at project management and cross-functional collaboration.
* Ability to thrive in a fast-paced, unpredictable environment.
* You share our values, and work in accordance with those values.
* [Leadership at GitLab](https://about.gitlab.com/handbook/leadership/#director-group)
* Ability to use GitLab

<%= partial("job-families/sales/performance", :locals => { :roleName => "Director of Sales and Customer Enablement" }) %>

## Senior Director, Field Enablement

The Senior Director of Field Enablement is a seasoned global Sales, Partner, and Customer Success Enablement leader with the ability to thrive in a growing software DevOps organization. Reporting to the VP of Field Operations, they are responsible for directing program teams to manage a virtual, world-class global sales training and enablement program that supports the Field Sales organization by optimizing impactful enablement strategies.  

### Job Grade 

The Senior Director, Field Enablement is a [grade 11](/handbook/total-rewards/compensation/compensation-calculator/#gitlab-job-grades).

### Responsibilities

* Identifies new innovative solutions leveraging a cross-functional GTM approach to optimizing field enablement 
* Aligns with senior management and sales leadership on Sales Enablement priorities by segment and global regions
* Measures and reports on business impact of enablement programs and helps to recommends and influence GTM Functional Leaders 
* Establishes and tracks key metrics for sales enablement and make recommendations to help increase sales productivity
* Creates an at-ready sales messaging and enablement plans that supports the sales organization to meet/exceed their revenue targets through engaging customer interactions that increase sales velocity
* Ensures that enablement programs incorporate product, solutions, operations and sales contributions coupled with simple adoption techniques to increase productivity.
* Effectively program manages multiple projects across the greater enablement team and adapt to shifting priorities
* Drives change management and communication to ensure onboarding programs are being deployed effectively and consistently across segment and global regions
* Partners with other divisional leaders (People Operations, Recruiting, Marketing, etc.) to ensure alignment and consistency of enablement programs across the company. 

### Requirements

* 12+ years software sales experience with expertise in DevOps and/or Open Source, preferably in sales enablement or management.
* Strong ability to interact and influence effectively with C-level executives, leadership  and team members.
* Drive quarterly OKRs process across teams, managers and cross-functionally to ensure alignment towards goals  
* Leadership experience of working effectively with cross-functional teams and creating a strategy and framework by which team members can contribute 
* Excellent public speaking, presentation, teaching, facilitating and writing skills
* Experience planning and executing large global Sales Kickoff and related events
* Shares our values, and works in accordance with those values.
* Holds their peers and team accountable for working in accordance with our values. 
* [Senior Leadership at GitLab](https://about.gitlab.com/handbook/leadership/#s-group)
* Ability to use GitLab
