@import "variables";
@import "vendor/bootstrap/bootstrap/variables"; // To resolve `$screen-md-min`

// sass-lint:disable no-qualifying-elements

/* For an example of the detail & summary tags in use, please see /handbook/marketing/brand-and-digital-design/ */

summary h1,
summary h2,
summary h3,
summary h4,
summary h5,
summary h6 {
  margin: 0;
  vertical-align: middle;
}

details {
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}

summary {
  color: $color-primary-alt;
  cursor: pointer;
}

details[open] > summary {
  margin-bottom: 24px;
}

// underline links by default in the content container and TOC only
.container.md-page {
  a:not(.btn) {
    text-decoration: underline;
  }

  .breadcrumb {
    a {
      text-decoration: none;
    }
  }
}

.tocs-sidebar {
  display: none;

  a:not(.btn) {
    text-decoration: underline;
  }
}

.domain-expertise {
  font-size: 0.8em;

  .domain {
    color: $color-orange;
  }
}

.handbook-wrapper .container li {
  margin-top: .5em;
}

.handbook-wrapper .container li:last-child {
  margin-bottom: .5em;
}

@media (min-width: $screen-md-min) {
  .handbook-wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;

    .container {
      float: left;
      max-width: 70%;
    }

    table {
      table-layout: fixed;
    }
  }

  .tocs-sidebar {
    position: sticky;
    font-size: 16px;
    display: block;
    float: right;
    width: 30%;
    max-width: 30%;
    max-height: 100vh;
    top: 35px;
    padding: 0 20px;
    overflow-y: scroll;

    > h4 {
      margin-top: 30px;
      padding-bottom: 10px;
      border-bottom: 1px solid $color-gray-extra-light;
    }

    > ul {
      padding-left: 20px;
      padding-bottom: 50px;
    }
  }
}

.handbook-md-title {

  .handbook-md-anchor {
    opacity: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
    max-height: 20px;
    vertical-align: middle;
    background: url("/images/icons/icon_anchor.svg") center center no-repeat;
    background-size: contain;
  }

  &::before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
  }

  &:hover {

    .handbook-md-anchor {
      opacity: 1;
    }
  }
}

.mkt-row {
  padding-top: 20px;
  padding-bottom: 5px;

  a:focus {
    outline: none;
  }
}

.mkt-box {
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;

  img {
    display: block;
    max-width: 30%;
    margin: 20px auto;
  }

  h4 {
    color: $color-accent;
    text-align: center;
  }

  &:hover {
    border-radius: 5px;
    box-shadow:0 1px 5px rgba(0,0,0,0.3), 0 0 2px rgba(0,0,0,0.1) inset;
  }
}

.alert-purple {
  color: rgb(107,79,187);
  background-color: $color-white;
  border-color: rgba(107,79,187,.5);

  h3 {
    color: $color-primary;
  }

  &.center {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.wide-sheet {
  width: 1300px;
}