---
layout: markdown_page
title: GitLab Reference Architectures
---

= partial('includes/reference-architectures/gitlab-reference-architectures.md')
%hr
  This page can be downloaded as
  %a{href: 'gitlab-reference-architectures.pdf'}
    PDF.
